.edit-menu-container{
    width: 100%;
}

.edit-menu-container ul {
    width: 100%;
    height: 50px;
    list-style-type:none;
    overflow: hidden;
    background-color: #f0f0f0;
}
.edit-menu-container .edit-icon{
    float: left;
    width: 15%;
    height: 50px;
    list-style-type:none;
    overflow: hidden;
    background-color: #f0f0f0;

}
.edit-image-container .edit-icon{
    float: left;
    width: 15%;
}
.edit-menu-container .edit-name{
    float: left;
    width: 70%;

}

.edit-menu-container .edit-icon a {
    display: block;
    text-align: center;
    font-size: 17px;
    width: 100%;
    max-width: 768px;
    margin: auto;
}
.edit-image-container{
    width: 100%;
    max-width: 100px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.edit-image-container img{
    width: 100px;
    height: 100px;
}
.edit-image-container button{
    width: 110px;
    border: none;
    margin-top:5px;
    background-color: white;
    color: #3897f0;
    font-size: 16px;
}
span input[type=file]{
    width: 0;
    height: 0;
}
.edit-profile-detail-container{
    width: 100%;
    padding: 10px;
    border: none;
}
.edit-profile-detail-container input[type=text]{
    width: 120%;
    padding: 5px;
    /* margin-top: 8px; */
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid gray;
}

.edit-profile-detail-container label{
    padding: 5px;
    margin-top: 5px;
}